body {
    margin: 0 auto;
    text-align: center;
    max-width: 80%;
}

.jumbotron {
    text-align: center;
}

#tables {
    background-color: rgb(226, 224, 224);
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    visibility: hidden;
    border-radius: 30px;
    margin-bottom:2rem;
}